/* This file is for your main application css. */
.login-form {
  margin-top: 20px;
  background: #eee;
  padding: 50px;
}
.inner-form {
  padding: 20px;
  margin-top: -20px;
}

.registration-form {
  background: #eee;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
}